body {
    font-family: "Inter", sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 800px;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content"
    ;
}
.sidebar {
    grid-area: sidebar;
    background-color: #222831;
    text-align: center;
}
#sidebar-title {
    color: aliceblue;
    margin-top: 50px;
    font-weight: 600;
    font-size: 32px;
}
#sidebar-content {
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 50px);
    grid-template-areas: 
    "."
    "."
    "."
    "."
    "home"
    "profile"
    "messages"
    "settings"
    "support"
    ;
}

#home {
    grid-area: home;
}
#profile {
    grid-area: profile;
}
#messages {
    grid-area: messages;
}
#settings {
    grid-area: settings;
}
#support {
    grid-area: support;
}

.header {
    grid-area: header;
}

.main-content{
    grid-area: main-content;
    display: grid;
    grid-template-rows: 100px 400px 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "title . ."
    "project1 project2 project3"
    ;
}

#content-title {
    grid-area: title;
    margin-left: 100px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    color: #232b2b;
}
.project {
    grid-area: project1;
    background-color: #dcf0fa;
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 13px 13px 38px -8px rgba(0,0,0,0.56);
}
.project-title {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #000000;
    font-weight: 700;
    font-size: 22px;
}

#nueral-network{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 30px;
}

.project-summary {
    flex: auto;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
}


#project1 {
    grid-area: project1;
}

#project2 {
    grid-area: project2;
}
#project3 {
    grid-area: project3;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31363F;
    color: aliceblue;
    box-shadow: -5px 15px 25px -21px rgba(0,0,0,0.73);
}

#header-title {
    flex: 1;
    display: flex;
    margin-left: 100px;
    font-size: 30px;
    font-weight: 700;
}

#right-links {
    flex: 1;
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

li {
    background-color: #F4FDEA;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}